@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  /* Hide ScrollBar */
  .custom-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }

  .custom-scroll {
    scrollbar-width: thin; /* Hide scrollbar for Firefox */
  }
  /* End Hide ScrollBar  */
  .custom-scrollbar {
    overflow-x: scroll;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1 h-2;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-500;
    border-radius: 4px;
  }
}
